
#achievement-dialog
{
	color: white;
	font-family: chalk2;
	font-size: 3vh;
	letter-spacing: 5px;
	font-weight: bold;
	position: absolute;
	right : 3%;
	top : 50%;
	display: inline-block;
	width: 50vh;
	height: 15vh;
	border-radius: 5vh;
	background-color: rgba(0,0,0,0.7);
	overflow: hidden;
	margin-right: -100vh;
	margin-top: -7.5vh;
	transition: 0.3s all ease-in;
}

#achievement-dialog[data-visible="true"]
{
    margin-right: 0vh;
}

.achivement-column
{
	display: inline-block;
	width: 10%;
	height: 100%;
	margin-left: 2vh;
	padding-left: 2vh;
	float: left;
}

.achivement-column:nth-child(1)
{
	margin-left: 3vh;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("../res/img/trophy.png");
}

.achivement-column:nth-child(2)
{
	width: 60%;
}

#achievement-header
{
	font-family: chalk8;
	margin-top: 3vh;
	font-size: 1.5vh;
}

#achievement-text
{
	font-family: chalk8;
	margin-top: 1vh;
	font-size: 2vh;
}