
.chalk-progressbar
{
	display: : inline-block;
	width: 30vh;
	height: 6vh;
	background-size: 30vh 6vh;
	background-repeat: no-repeat;
}

#chalk-progressbar-border
{
	background-image: url(../res/img/chalk-progressbar-border.png);
}

#chalk-progressbar
{
	background-image: url(../res/img/chalk-progressbar.png);
	transition: all 1s linear;
	background-position: 0px 0px;
}