
body
{
    margin: 0;
    padding: 0;
}

#touchpad
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(85, 85, 85);
	z-index: 0;
}

#button
{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 5%;
	border-radius: 50px;
	border: 5px solid rgb(50, 50, 50);
	background-color: rgb(80, 80, 80);
	z-index: 1;
}


#hint
{
	opacity: 0.3;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 60%;
	top: 50%;
	margin: -50px 0 0 -50px;
}