
body
{
    margin: 0;
    padding: 0;
}

#touchpad
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(85, 85, 85);
	z-index: 0;
}

.button
{
    position: absolute;	
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 5px solid rgb(50, 50, 50);
	background-color: rgb(80, 80, 80);
	z-index: 1;
}

.pressed
{
	background-color: rgb(50, 50, 50);
}

.actionButton
{
	bottom: 10%;
	left: 10%;
}

.selectButton
{
	top: 10%;
	left: 10%;
}

.hint
{
	position: absolute;
    opacity: 0.3;
    width: 50%;
	height: 50%;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	left: 25%;
	top: 25%;
}

.selectHint
{
    background-image: url(http://oi68.tinypic.com/jsbqqu.jpg);
}

.actionHint[data-tool="pencil"]
{
	background-image: url(http://oi65.tinypic.com/2enx4iu.jpg);
}

.actionHint[data-tool="ereaser"]
{
	background-image: url(http://oi67.tinypic.com/670aye.jpg);
}

.actionHint[data-tool="tack"]
{
	background-image: url(http://oi68.tinypic.com/2aezb03.jpg);
}

.touchHint
{
	background-image: url(http://oi63.tinypic.com/zxaf86.jpg);
	background-size: 100px 100px;
	left: 40%;
}

#hint
{
	opacity: 0.3;
	position: absolute;
	width: 100px;
	height: 100px;
	left: 60%;
	top: 50%;
	margin: -50px 0 0 -50px;
}
