//html,body
//{
//	margin: 0;
//	padding: 0;
//	overflow: hidden;
//	background-size: 100%;
//	background-image: url("../res/img/background.jpg");
//}
//@font-face {
//    font-family : chalk;
//    src : url(../res/fonts/chalk2.ttf);
//}
@keyframes pulse {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  51% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

#hud-bar
{
	z-index: 10;
	color: white;
	line-height: 6vh;
	font-size: 5vh;
	font-family: chalk;
	font-weight: bold;
	user-select: none;
	top: 2vh;
    width    : 100%;
    height   : 6vh;
    position : absolute;
    white-space: nowrap;
    margin: 0;
}

.hud-bar-group
{
	display: inline-block;
	//background-color: red;
	width  : 49.5%;
	height : 6vh;
	margin : 0;
}

.hud-item
{
	float: left;
	display: inline-block;
	width: 6vh;
	height: 6vh;
	//background-color: blue;
	background-size: 100%;
	background-repeat: no-repeat;
}

.hud-item:hover
{
	transform: scale(1.5);
}

.hud-noscale:hover
{
    transform: scale(1);
}

.hud-bar-group:nth-child(1) > .hud-item
{
	margin-left: 2vh;
}

.hud-bar-group:nth-child(2) > .hud-item
{
	float: right;
	margin-right: 2vh;
}

#hud-home-button
{
	background-image: url("../res/img/open-level-selector.png");
}

#hud-restart-button
{
	background-image: url("../res/img/restart-level2.png");
}

#hud-help-button
{
    background-image: url("../res/img/help_icon.png");	
}

.hud-star-icon
{
	background-image: url("../res/img/empty-star3.png");	
}

.hud-star-icon[data-filled="true"]
{
	background-image: url("../res/img/filled-star3.png");
}

#hud-timer-icon
{
    background-image: url("../res/img/timer.png");
}

.hud-timer-hand
{
	display: inline-block;
	position: relative;
	top: -0.3vh;
	//margin-left: 0vh;
	width  : 2.2vh;
	height : 0.5vh;
	background-size: 100%;
	background-image: url("../res/img/timer-hand.png");
	animation: timer-hand-rotation 1s infinite;
	animation-timing-function: linear;
}

@keyframes timer-hand-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}