
        div.chalk-menu-layer
        {
            position: absolute;
            padding-left: 20%;
            padding-right: 20%;
            width: 60%;
            //cursor: none;
        }
        div.chalk-menu-container
        {
            user-select: none;
        	border-radius: 20px;
            border: 10px solid transparent;
            border-image-source: url("./../res/img/chalk_pattern.png");
            border-image-repeat: repeat;
            border-image-slice: 30;
	        background-image : url("./../res/img/background.jpg");
	        background-size  : 100% 100%;
            width            : 100%;
            height           : 100%;
            text-align: center;
            display: inline-block;
            position: relative;
            width: 100%;
            min-width: 600px;
            overflow: hidden;
        }
        div.chalk-menu-row:nth-child(1)
        {
        	//border: 1px dotted silver;
        	width: 100%;
        	height: 30%;
        	background-image: url("./../res/img/text_header.png");
        	background-repeat: no-repeat;
        	background-size: 40%;
        	background-position: 50% 90%;
        }
        div.chalk-menu-row:nth-child(1) > label
        {
        	display: block;
        	font-family: chalk;
        	color: rgba(255,255,255,0.9);
        }
        div.chalk-menu-row:nth-child(2)
        {
        	position: relative;
        	transition: all 0.5s linear;
        	//border: 1px dotted silver;
        	text-align: left;
        	width: 500%;
        	height: 50%;
        }
        div.chalk-menu-row:nth-child(3)
        {
        	position: relative;
        	//border: 1px dotted silver;
        	height: 20%;
        }
        div.chalk-level-button:hover
        {
        	background-color: rgba(0,0,0,0.5);
        }
        div.chalk-level-button
        {
        	background-image: url("./../res/img/locked-level.png");
        	background-size: 50% 50%;
        	background-position: 50% 20%;
        	background-repeat: no-repeat;
            display: inline-block;
            background-color: rgba(0,0,0,0.3);
            position: relative;
            border-radius: 10px;
            color: white;
            text-align: center;
            font-family: chalk;
        }
        div.chalk-arrow-button
        {
        	background-size: 100% 100%;
        	border-radius: 30px;
        	display: inline-block;
        	position: relative;
        	top : -20%;
        	height: 100%;
        	width: 10%;
        }
        div.chalk-arrow-button:hover
        {
        	background-color: rgba(0,0,0,0.5);
        }
        div.chalk-arrow-button:nth-child(1)
        {
        	background-image: url("./../res/img/left_arrow.png");;
        }
        div.chalk-arrow-button:nth-child(2)
        {
        	background-image: url("./../res/img/right_arrow.png");;
        }