
@font-face {
    font-family : chalk;
    src : url(../res/fonts/chalk.ttf);
}
body,html{ margin: 0; overflow: hidden;}
canvas
{
    width  : 100%;
    height : 100%;
}

div.main_container {
	background-image : url(https://image.freepik.com/free-photo/blackboard-texture_1205-375.jpg);
	background-size  : 100% 100%;
    width            : 100%;
    height           : 100%;
    position         : absolute;
    cursor: none;
}

img.main_logo {
    position   : absolute;
	width      : 202px;
	height     : 167px;
	left       : 50%;
	top        : 50%;
	margin     : -83px 0 0 -101px;
	transition : all 1s;
}

label#title_label {
	font-family : chalk;
	color       : white;
    position    : absolute;
	width       : 640px;
	left        : 50%;
	top         : 5%;
	margin      : 0px 0 0 -320px;
	text-align  : center;
	font-size   : 50px;
	opacity     : 0.9;
	cursor      : none;
}

.menu_layer
{
	background-image : url(https://image.freepik.com/free-photo/blackboard-texture_1205-375.jpg);
	background-size  : 100% 100%;
	width       : 60%;
	height      : 60%;
	left        : 20%;
	top         : 20%;
	position    : absolute;
	text-align  : center;
    opacity     : 0.9;
    color       : white;
    font-family : chalk;
    line-height : 50px;
    font-size   : 40px;
    //border: 10px dotted red;

    border: 15px solid transparent;
    padding: 15px;
    border-image-source: url(../res/img/checkbox_unchecked.png);
    border-image-repeat: stretch;
    border-image-slice: 30; 
}

span.checkbox
{
	margin-bottom    : -10px;
	line-height      : 50px;
	width            : 50px;
	height           : 50px;
	background-size  : 50px 50px;
	display          : inline-block;
    background-image : url(../res/img/checkbox_unchecked.png);
    cursor: normal;
}

span.checkbox[data-checked=true]
{
    background-image : url("../res/img/checkbox_checked.png");
}