
canvas
{
	background-image: url(https://image.freepik.com/free-photo/blackboard-texture_1205-375.jpg);
	//background-image: url(http://paper-backgrounds.com/textureimages/2012/06/yellow-aged-paper-background-hd.jpg);
	background-size: 800px 600px;
    width: 800px;
    height: 600px;
    position: absolute;
    left: 50%;
    top : 50%;
    margin: -300px 0 0 -400px;
    cursor: none;
}

div.main_container {
    position : absolute;
	width    : 640px;
	height   : 480px;
	left     : 50%;
	top      : 50%;
	margin   : -240px 0 0 -320px;
	background-color: black;
}

img.main_logo {
    position   : absolute;
	width      : 202px;
	height     : 167px;
	left       : 50%;
	top        : 50%;
	margin     : -83px 0 0 -101px;
	transition : all 1s;
}

label#subtitles_label {
	color: white;
	font-weight: bold;
    position : absolute;
	width    : 640px;
	left     : 50%;
	top      : 50%;
	margin   : 200px 0 0 -320px;
	text-align: center;
}
