
@font-face {
    font-family : chalk;
    src : url(../res/fonts/chalk.ttf);
}
body,html {

	margin: 0;
	overflow: hidden;
	cursor: url(../res/img/chalk.gif), pointer;
}
canvas
{
    position : absolute;
    left     : 0;
    top      : 0;
    width    : 100%;
    height   : 100%;
}

div.main_container {
	background-image : url("../res/img/background.jpg");
	background-size  : 100% 100%;
    width            : 100%;
    height           : 100%;
    position         : absolute;
    //cursor: none;
    text-align: center;
}

img.main_logo {
    position   : absolute;
	width      : 202px;
	height     : 167px;
	left       : 50%;
	top        : 50%;
	margin     : -83px 0 0 -101px;
	transition : all 1s;
}

label#title_label {
	font-family : chalk;
	color       : white;
    position    : absolute;
	width       : 640px;
	left        : 50%;
	top         : 5%;
	margin      : 0px 0 0 -320px;
	text-align  : center;
	font-size   : 5vh;
	opacity     : 0.9;
	cursor: url(../res/img/chalk.gif), pointer;
}

.menu_layer
{
	background-image : url("../res/img/background.jpg");
	background-size  : 100% 100%;
	width       : 60%;
	height      : 80%;
	left        : 20%;
	top         : 10%;
	position    : absolute;
	text-align  : center;
    opacity     : 0.9;
    color       : white;
    font-family : chalk;
    line-height : 50px;
    font-size   : 40px;
    //border: 10px dotted red;

    border: 10px solid transparent;
    padding: 15px;
    border-image-source: url("../res/img/chalk_pattern.png");
    border-image-repeat: repeat;
    border-image-slice: 30;
    z-index: -1;
    //cursor: none;
}

span.button
{
	border: 5px solid transparent;
    border-image-source: url("../res/img/chalk_pattern.png");
    border-image-repeat: repeat;
    border-image-slice: 30;
    line-height: 80px;
    padding: 5px 10px 5px 10px;
}

span.button[data-pressed="true"]
{
	background-image: url("../res/img/chalk_pattern.png");
}


span.checkbox
{
	margin-bottom    : -10px;
	line-height      : 50px;
	width            : 50px;
	height           : 50px;
	background-size  : 50px 50px;
	display          : inline-block;
    background-image : url(../res/img/checkbox_unchecked.png);
    //cursor: normal;
}

span.checkbox[data-checked=true]
{
    background-image : url("../res/img/checkbox_checked.png");
}

#player_cursor
{
	pointer-events : none;
	z-index  : 10;
    position : absolute;
}

#player_cursor[data-tool="chalk"]
{
    background-image : url("../res/img/chalk.png");
    background-size: 45px 63px;
    width    : 45px;
    height   : 63px;
    margin-left: -5px;
    margin-top: -5px;
}

#player_cursor[data-tool="ereaser"]
{
    background-image : url("../res/img/ereaser.png");
    background-size: 100px 100px;
    width    : 100px;
    height   : 100px;
    margin-left: -20px;
    margin-top: -20px;
}

#player_cursor[data-tool="tack"]
{
    background-image : url("../res/img/tack.png");
    background-size: 50px 50px;
    width    : 50px;
    height   : 50px;
    margin-left: -5px;
    margin-top: -45px;	
}

span.level_button
{
	margin-top: 10px;
    margin-right: 10px;
	display: inline-block;
	line-height: 100px;
	width: 10%;
	height: 20%;
	border: 10px solid transparent;
    border-image-source: url("../res/img/chalk_pattern.png");
    border-image-repeat: repeat;
    border-image-slice: 30;
}


#debug_render
{
    //alpha : 0.2;
}