
@font-face {
    font-family : chalk;
    src : url(../res/fonts/chalk.ttf);
}
@font-face {
    font-family : chalk1;
    src : url(../res/fonts/chalk.ttf);
}
@font-face {
    font-family : chalk2;
    src : url(../res/fonts/chalk2.ttf);
}
@font-face {
    font-family : chalk3;
    src : url(../res/fonts/chalk3.ttf);
}
@font-face {
    font-family : chalk4;
    src : url(../res/fonts/chalk4.ttf);
}
@font-face {
    font-family : chalk5;
    src : url(../res/fonts/chalk5.ttf);
}

@font-face {
    font-family : chalk6;
    src : url(../res/fonts/FFF_Tusj.ttf);
}
@font-face {
    font-family : chalk7;
    src : url(../res/fonts/KGSecondChancesSketch.ttf);
}
@font-face {
    font-family : chalk8;
    src : url(../res/fonts/KGTenThousandReasons.ttf);
}
@font-face {
    font-family : chalk9;
    src : url(../res/fonts/whateverittakes.ttf);
}


body,html {

	margin: 0;
	overflow: hidden;
	cursor: url(../res/img/chalk.gif), pointer;
}
canvas
{
    position : absolute;
    left     : 0;
    top      : 0;
    width    : 100%;
    height   : 100%;
}

div.main_container {
	background-image : url("../res/img/background.jpg");
	background-size  : 100% 100%;
    width            : 100%;
    height           : 100%;
    position         : absolute;
    //cursor: none;
    text-align: center;
}

img.main_logo {
    position   : absolute;
	width      : 202px;
	height     : 167px;
	left       : 50%;
	top        : 50%;
	margin     : -83px 0 0 -101px;
	transition : all 1s;
}

label#title_label {
	font-family : chalk7;
	color       : white;
    position    : absolute;
	width       : 200vh;
	left        : 50%;
	top         : 8vh;
	margin      : 0 0 0 -100vh;
	text-align  : center;
	font-size   : 6vh;
	opacity     : 1;
	cursor: url(../res/img/chalk.gif), pointer;
}

label#subtitle_label {
    font-family : chalk2;
    font-weight: bold;
    color       : #FACC2E;
    position    : absolute;
    width       : 200vh;
    left        : 50%;
    top         : 15vh;
    margin      : 0 0 0 -100vh;
    text-align  : center;
    font-size   : 4vh;
    opacity     : 1;
    cursor: url(../res/img/chalk.gif), pointer;
    letter-spacing: 5px;
}

.menu_layer
{
	background-image : url("../res/img/background.jpg");
	background-size  : 100% 100%;
	width       : 60%;
	height      : 80%;
	left        : 20%;
	top         : 10%;
	position    : absolute;
	text-align  : center;
    opacity     : 0.9;
    color       : white;
    font-family : chalk;
    line-height : 50px;
    font-size   : 40px;
    //border: 10px dotted red;

    border: 10px solid transparent;
    padding: 15px;
    border-image-source: url("../res/img/chalk_pattern.png");
    border-image-repeat: repeat;
    border-image-slice: 30;
    z-index: -1;
    //cursor: none;
}

span.button
{
	border: 5px solid transparent;
    border-image-source: url("../res/img/chalk_pattern.png");
    border-image-repeat: repeat;
    border-image-slice: 30;
    line-height: 80px;
    padding: 5px 10px 5px 10px;
}

span.button[data-pressed="true"]
{
	background-image: url("../res/img/chalk_pattern.png");
}


span.checkbox
{
	margin-bottom    : -10px;
	line-height      : 50px;
	width            : 50px;
	height           : 50px;
	background-size  : 50px 50px;
	display          : inline-block;
    background-image : url(../res/img/checkbox_unchecked.png);
    //cursor: normal;
}

span.checkbox[data-checked=true]
{
    background-image : url("../res/img/checkbox_checked.png");
}

span.level_button
{
	margin-top: 10px;
    margin-right: 10px;
	display: inline-block;
	line-height: 100px;
	width: 10%;
	height: 20%;
	border: 10px solid transparent;
    border-image-source: url("../res/img/chalk_pattern.png");
    border-image-repeat: repeat;
    border-image-slice: 30;
}

@keyframes pulse {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  51% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(4deg);
  }
}

#board-border
{
    width: 100%;
    height: 5vh;
    position: absolute;
    bottom: 0%;
    background-size: 100%;
    background-image: url("../res/img/board_border.png");
}

#tooltip
{
    user-select: none;
    font-family: chalk2;
    font-size: 2.5vh;
    letter-spacing: 5px;
    color: white;
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 10%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50px;
    padding: 3vh;
}